html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}




@font-face {
	font-family: BunnySans;
	src: url(../font/BundaySans-Bold.otf);	
	/*Шрифт мой*/
}


body{
	background-image: url(../img/wall.jpeg);
	/*фон*/
	overflow: hidden;
	
}

#senced{
	
	left: 0;
	text-align:center;
	line-height: 200px;
	margin: auto;
	margin-top: -380px;
	position: absolute;
	top: 50%;
	width: 100%;
	/* В ценре*/
	z-index: -1;
}

#s1{
	animation: dvij 10s infinite 0s ease-in-out alternate;
}
#e2{
	animation: dvij 10s infinite -1s ease-in-out alternate;
}
#n3{
	animation: dvij 10s infinite -2s ease-in-out alternate;
}
#c4{
	animation: dvij 10s infinite -3s ease-in-out alternate;
}
#e5{
	animation: dvij 10s infinite -4s ease-in-out alternate;
}
#d6{
	animation: dvij 10s infinite -5s ease-in-out alternate;
}

@keyframes dvij{
	0% {transform: translate(0px,0px)}
	50% {transform: translate(0px,-50px)}
	100% {transform: translate(0px,0px)}
}

#particles-js{
  width: 100%;
  height: 100%;
}


