html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
@font-face {
	font-family: BunnySans;
	src: url(../font/BundaySans-Bold.otf);	
	/*Шрифт мой*/
}
body{
	background-image: url(../img/back3.jpg);
	background-size: 1920px 1080px;
	/*фон*/
	overflow: hidden;
	background-repeat: no-repeat;
}
.mid{
	position: absolute;
	text-align:center;
	top: 20%;
	width: 100%;
	/* Testovo vse na mid */
}
.centerr{
	position: absolute;
	top: 500;
	width: 200px;
	height: auto;
	/* В центре */
}
.link{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* background-color:red; */
	z-index: 3;
	/* Боксы линки */
}
.bukvi{
	text-align:center;
	margin: auto;
	position: absolute;
	left: 0;
	top: 80%;
	width: 100%;
	/* Очень криво центр */
	opacity: 0;
	transition: 0.3s ease-in-out;
	/* Выцветание */
	z-index: -5;
}
#monimg{
	position: fixed;
	left: 1720px;
	top: 1200px;
	width: 120px;
	animation: ;
}
#deleteme{
	/* border-bottom: 2px dotted blue; */
	color: blue;
	width: 76px;
	top: 933px;
	left: 1820px;
}
#senced{
	left: 0;
	text-align:center;
	line-height: 200px;
	margin: auto;
	margin-top: -380px;
	position: absolute;
	top: 50%;
	width: 100%;
	/* В ценре*/
	z-index: -1;
	/* под частицами */
}
#particles-js{
  width: 100%;
  height: 100%;
  /* Частицы на все ебло */
}

/* СТИМ СНИЗУ */
/* СТИМ СНИЗУ */
/* СТИМ СНИЗУ */

#steamimg{
	/* картинка стима */
	top: 350;
	left: 350;
	z-index: -6;
}
#steamimg2{
	/* картинка стима 2 */
	top: 350;
	left: 350;
	z-index: -6;
}
#steam2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#steamlink{
	/* Невидимая линка стима */
	top: 350;
	left: 350;
}

 #steamhover:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#steamhover:hover ~ #steamprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
 #steamhover:hover ~ #steam2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#steamprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}


 /* СТИМ ГРУППА СНИЗУ */
 /* СТИМ ГРУППА СНИЗУ */
 /* СТИМ ГРУППА СНИЗУ */
 
#steamimgg{
	/* картинка стима gruppi */
	top: 500;
	left: 1350;
	z-index: -6;
}
#steamimgg2{
	/* картинка стима gruppi 2*/
	top: 500;
	left: 1350;
	z-index: -7;
}
#steamg2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#steamlinkg{
	/* Невидимая линка стима */
	top: 500;
	left: 1350;
}
 

#steamghoverg:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#steamghoverg:hover ~ #steamgroup{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#steamghoverg:hover ~ #steamg2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#steamgroupimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}

/* ТВИТЧ СНИЗУ */
/* ТВИТЧ СНИЗУ */
/* ТВИТЧ СНИЗУ */

#twitchimg{
	/* картинка стима gruppi */
	top: 500;
	left: 150;
	z-index: -6;
}
#twitchimg2{
	/* картинка стима gruppi 2*/
	top: 500;
	left: 150;
	z-index: -7;
}
#twitch2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#twitchlink{
	/* Невидимая линка стима */
	top: 500;
	left: 150;
}


#twitchhover:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#twitchhover:hover ~ #twitchprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#twitchhover:hover ~ #twitch2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#twitchprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}
/* TWITTER СНИЗУ */
/* TWITTER СНИЗУ */
/* TWITTER СНИЗУ */

#twitterimg{
	top: 350;
	left: 750;
	z-index: -6;
}
#twitterimg2{
	top: 350;
	left: 750;
	z-index: -7;
}
#twitter2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#twitterlink{
	/* Невидимая линка стима */
	top: 350;
	left: 750;
}


#twitterhover:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#twitterhover:hover ~ #twitterprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#twitterhover:hover ~ #twitter2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#twitterprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}
/* insta СНИЗУ */
/* insta СНИЗУ */
/* insta СНИЗУ */
#instaimg{
	top: 500;
	left: 950;
	z-index: -6;
}
#instaimg2{
	top: 500;
	left: 950;
	z-index: -7;
}
#insta2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#instalink{
	/* Невидимая линка стима */
	top: 500;
	left: 950;
}


#instahover:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#instahover:hover ~ #instaprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#instahover:hover ~ #insta2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#instaprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}
/* vkgroup СНИЗУ */
/* vkgroup СНИЗУ */
/* vkgroup СНИЗУ */
#vkgroupimg{
	top: 350;
	left: 1150;
	z-index: -6;
}
#vkgroupimg2{
	top: 350;
	left: 1150;
	z-index: -7;
}
#vkgroup2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#vkgrouplink{
	/* Невидимая линка стима */
	top: 350;
	left: 1150;
}

#vkgrouphover:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#vkgrouphover:hover ~ #vkgroupprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#vkgrouphover:hover ~ #vkgroup2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#vkgroupprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}

/* vkpage СНИЗУ */
/* vkpage СНИЗУ */
/* vkpage СНИЗУ */

#vkpageimg{
	top: 500;
	left: 550;
	z-index: -6;
}
#vkpageimg2{
	top: 500;
	left: 550;
	z-index: -7;
}
#vkpage2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#vkpagelink{
	/* Невидимая линка стима */
	top: 500;
	left: 550;
}

#vkpagehover:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#vkpagehover:hover ~ #vkpageprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#vkpagehover:hover ~ #vkpage2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#vkpageprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}
/* EMAIL СНИЗУ */
/* EMAIL СНИЗУ */
/* EMAIL СНИЗУ */

#emailimg{
	top: 350;
	left: 1550;
	z-index: -6;
}
#emailimg2{
	top: 350;
	left: 1550;
	z-index: -7;
}
#email2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#emaillink{
	/* Невидимая линка стима */
	top: 350;
	left: 1550;
}

#emailhover:hover {
	animation: delays 0.8s;
	/* Блок от разьреза выцветания */
}
#emailhover:hover ~ #emailprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#emailhover:hover ~ #email2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#emailprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}

#s1{
	animation: dvij 10s infinite 0s ease-in-out alternate;
}
#e2{
	animation: dvij 10s infinite -1s ease-in-out alternate;
}
#n3{
	animation: dvij 10s infinite -2s ease-in-out alternate;
}
#c4{
	animation: dvij 10s infinite -3s ease-in-out alternate;
}
#e5{
	animation: dvij 10s infinite -4s ease-in-out alternate;
}
#d6{
	animation: dvij 10s infinite -5s ease-in-out alternate;
}
/* Анимация букв */
@keyframes dvij{
	0% {transform: translate(0px,0px)}
	50% {transform: translate(0px,-50px)}
	100% {transform: translate(0px,0px)}
	/* Фреймы для букв */
}
@keyframes vidvij{
	0%{transform: translate(-100px, 0px); opacity: 0.0}
	50%{opacity: 1.0}
	100%{transform: translate(0px, 0px); opacity: 1.0}
	/* Выезд текста, который пнг */
}
@keyframes delays{
	from{position:absolute;top:0;left:0;width:1920px;height:1080px;z-index:10;}
	to{position:absolute;top:0;left:0;width:1920px;height:1080px;z-index:10}
	/* Фреймы блока */
}
@keyframes monika{
	0% {transform: translate(0px,0px)}
	50% {transform: translate(0px,-350px)}
	100% {transform: translate(0px,0px)}
}