html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
@font-face {
	font-family: BunnySans;
	src: url(../font/BundaySans-Bold.otf);	
	/*Шрифт мой*/
}
body{
	background-image: url(../img/back2.jpg);
	background-size: 1920px 1080px;
	/*фон*/
	overflow: hidden;
}
.mid{
	position: absolute;
	text-align:center;
	top: 20%;
	width: 100%;
	/* Testovo vse na mid */
}
.centerr{
	position: absolute;
	top: 500;
	width: 200px;
	height: auto;
	/* В центре */
}
.link{
	position: absolute;
	width: 200px;
	height: 200px;
	/* background-color:red; */
	z-index: 3;
	/* Боксы линки */
}
.bukvi{
	text-align:center;
	margin: auto;
	position: absolute;
	left: 0;
	top: 80%;
	width: 100%;
	/* Очень криво центр */
	opacity: 0;
	transition: 0.3s ease-in-out;
	/* Выцветание */
	z-index: -5;
}
#mute{
	font-size: 40px;
	Color: yellow;
}
#senced{
	left: 0;
	text-align:center;
	line-height: 200px;
	margin: auto;
	margin-top: -380px;
	position: absolute;
	top: 50%;
	width: 100%;
	/* В ценре*/
	z-index: -1;
	/* под частицами */
}
#particles-js{
  width: 100%;
  height: 100%;
  /* Частицы на все ебло */
}

/* СТИМ СНИЗУ */
/* СТИМ СНИЗУ */
/* СТИМ СНИЗУ */

#steamimg{
	/* картинка стима */
	top: 500;
	left: 250;
	z-index: -6;
}
#steamimg2{
	/* картинка стима 2 */
	top: 500;
	left: 250;
	z-index: -6;
}
#steam2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#steamlink{
	/* Невидимая линка стима */
	top: 500;
	left: 250;
}

 #steamhover:hover {
	animation: delays 0.4s;
	/* Блок от разьреза выцветания */
}
#steamhover:hover ~ #steamprofile{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
 #steamhover:hover ~ #steam2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#steamprofileimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}


 /* СТИМ ГРУППА СНИЗУ */
 /* СТИМ ГРУППА СНИЗУ */
 /* СТИМ ГРУППА СНИЗУ */
 
#steamimgg{
	/* картинка стима gruppi */
	top: 400;
	left: 500;
	z-index: -6;
}
#steamimgg2{
	/* картинка стима gruppi 2*/
	top: 400;
	left: 500;
	z-index: -7;
}
#steamg2{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -5;
	transition: 0.3s ease-in-out;
	/* Прозрачность делает для 2 картинки */
}
#steamlinkg{
	/* Невидимая линка стима */
	top: 400;
	left: 500;
}
 

#steamghoverg:hover {
	animation: delays 0.4s;
	/* Блок от разьреза выцветания */
}
#steamghoverg:hover ~ #steamgroup{
	opacity:1;
	animation: vidvij 0.4s ease;
	/* Смена на инста */
 }
#steamghoverg:hover ~ #steamg2{
	opacity:1;
	transition: 0.4s;
	/* Делает не прозрачный 2 пик */
 }

#steamgroupimg{
	width:auto;
	height: 80px;
	/* Размер картинок */
}

#s1{
	animation: dvij 10s infinite 0s ease-in-out alternate;
}
#e2{
	animation: dvij 10s infinite -1s ease-in-out alternate;
}
#n3{
	animation: dvij 10s infinite -2s ease-in-out alternate;
}
#c4{
	animation: dvij 10s infinite -3s ease-in-out alternate;
}
#e5{
	animation: dvij 10s infinite -4s ease-in-out alternate;
}
#d6{
	animation: dvij 10s infinite -5s ease-in-out alternate;
}
/* Анимация букв */
@keyframes dvij{
	0% {transform: translate(0px,0px)}
	50% {transform: translate(0px,-50px)}
	100% {transform: translate(0px,0px)}
	/* Фреймы для букв */
}
@keyframes vidvij{
	0%{transform: translate(-100px, 0px); opacity: 0.0}
	50%{opacity: 1.0}
	100%{transform: translate(0px, 0px); opacity: 1.0}
	/* Выезд текста, который пнг */
}
@keyframes delays{
	from{position:absolute;top:0;left:0;width:1920px;height:1080px;z-index:10;}
	to{position:absolute;top:0;left:0;width:1920px;height:1080px;z-index:10}
	/* Фреймы блока */
}